<div class="jumbotron">
  <h1 class="display-5">Hello, world!</h1>
  <p class="lead">My name is Julian.</p>
  <hr class="my-4">
  <p><strong>Self taught Coding Ninja. Aspiring software engineer. Dynamic Technology Specialist </strong> with experience leading diverse teams and shipping sensitive material to major corporations across the globe. Detailed oriented and thrives in fast-paced environments. Analytical thinker and creative problem solver who remains focused under pressure. Lifelong learner passionate about technology and challenging the status quo. Enthusiastic with all thing’s tech related and an avid adventurer that enjoys new experiences. </p>
  <p class="lead">
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </p>
</div>