<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
 
</div>
<h2>Here are some links to learn more about me: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/julianrios">Github</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://linkedin.com/in/riosjulian">LinkedIn</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://instagram.com/eastcoastninja/">Instagram Blog</a></h2>
  </li>
</ul>


